@using MediaMaker.Web.Models
@model CalculatorViewModel
@{
    ViewBag.Title = "Calculator";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Awesome Simple Calculator App!</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label for="first-value">Value 1</label>
        @Html.TextBoxFor(m => m.firstValue, new { id = "first-value", type = "number", @class = "form-control" })

        <label for="second-value">Value 1</label>
        @Html.TextBoxFor(m => m.secondValue, new { id = "second-value", type = "number", @class = "form-control" })
    </div>
</div>

