@using MediaMaker.Web.Models
@model CalculatorViewModel
@{
    ViewBag.Title = "Calculator";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Awesome Simple Calculator App!</h2>
        <hr />
    </div>
</div>

<div class="row calc-container">
    <div class="col-xs-12">
        <label for="calc-first-value">Value 1</label>
        @Html.TextBoxFor(m => m.firstValue, new { id = "calc-first-value", type = "number", @class = "form-control" })

        <label for="calc-second-value">Value 1</label>
        @Html.TextBoxFor(m => m.secondValue, new { id = "calc-second-value", type = "number", @class = "form-control" })
        @Html.EnumDropDownListFor(m => m.arithmeticOperator, "Select operator...", new { @class = "form-control" })
    </div>
    <br />
    <div class="col-xs-12">
        <span class="btn btn-primary calculate">Calculate</span>
        <span class="btn btn-danger reset">Reset</span>
    </div>
</div>

@section styles{
    <link href="~/Content/Calculator.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        //event handlers
        $(".calc-container .calculate").on("click", function () {
            
        })
    </script>
}

